@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hide {
  display: none;
}
body {
  margin: 30px;
  text-indent: 15px;
}

.choices {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 30px;
}

ul li {
  padding-top: 5px;
}

li label {
  margin-left: 15px;
}

input[type="radio"] {
  -webkit-appearance: none;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #800080;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 5px 0px gray inset;
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}
input[type="radio"]:checked:before {
  background: black;
}

.choices span {
  margin-top: 10px;
  margin-bottom: 10px;
}
.required {
  border: 1px solid red;
  width: fit-content;
}

p {
  margin-top: 20px;
  line-height: 30px;
}

.starting-questions-box p {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  text-decoration: underline;
}

.starting-questions-box textarea {
  width: 700px;
  height: 50px;
  margin: 10px 20px;
  outline: none;
  padding: 5px;
}

/* text-decoration: none !important; */

.submitBtnContainer {
  text-align: center;
}

.submitBtnForAnswers {
  background-color: #800080;
  width: 150px;
  height: 50px;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
}

.questions_answers h1 {
  margin: 20px;
}

.results {
  text-align: center;
  margin: 20px;
}

.questions_answers h4 {
  text-decoration: underline;
}

.questions_answers p {
  text-indent: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dialogWarningContent {
  font-size: 25px;
  height: 100px;
  text-align: center;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  height: 300px;
  padding: 20px;
}

.dialog.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;
  transition: 200ms ease-in-out;
}

.overlay.active {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  pointer-events: all;
}

.ok-btn {
  width: 100px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  align-items: center;
}

@media (max-width: 500px) {
  body {
    text-indent: 10px;
  }

  .starting-questions-box textarea {
    width: 400px;
    height: 50px;
    margin: 10px 20px;
    outline: none;
    padding: 5px;
  }
}
