@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

.welcome_text {
  text-align: center;
  font-size: 40px;
  padding: 50px 200px;
  line-break: 13px;
  border-bottom: 3px solid #000;
}

.users {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

.users p {
  color: #e7b5ac;
}

#be_our {
  text-align: center;
  margin-top: 20px;
}

.be_our {
  font-size: 50px;
}

.candidate,
.mentor,
.donor {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #588061;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  margin-top: 20px;
  font-size: 30px;
}

.candidate a {
  text-decoration: none;
  color: #e7b5ac;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #588061;
  overflow: s;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo a {
  text-decoration: none;
  color: #e7b5ac;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #e7b5ac;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-btns button {
  padding: 10px;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 15px;
}

.nav-btns a {
  text-decoration: none;
  color: #e7b5ac;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 500px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #588061;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .welcome_text {
    font-size: 20px;
    padding: 20px 5px;
    margin-bottom: 40px;
  }

  .welcome_text h3 {
    margin-top: 20px;
  }

  .be_our {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .candidate,
  .mentor,
  .donor {
    height: 180px;
    width: 180px;
    margin: 2px;
  }
}

.nav-active {
  transform: translate(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50%);
  }
  to {
    opacity: 1;
    transform: translate(0%);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
