@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  display: inline-block;
  background-color: #588061;
  width: 100%;
  border-bottom: 3px solid #000;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  float: left;
  margin: 15px;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

li,
a,
button,
select {
  color: #e7b5ac;
  font-size: 18px;
}

button {
  padding: 10px;
  background-color: black;
  font-size: 13px;
  border-radius: 10px;
  border: none;
}

.welcome_text {
  text-align: center;
  font-size: 40px;
  padding: 50px 200px;
  line-break: 13px;
  border-bottom: 3px solid #000;
}

#users {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#be_our {
  text-align: center;
  margin-top: 20px;
}

.be_our {
  font-size: 50px;
}

.c1,
.c2,
.c3 {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #588061;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  margin-top: 20px;
  font-size: 30px;
}
